body {
	font-family: Arial, sans-serif;
	background-color: #f8f8f8;
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
	margin: 0;
	font-size: 32px;
	color: #333;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
}

button {
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

#pictures {
  text-align: center;
}
.picture-container {
  max-width: 800px;
  display: inline-block;
  margin: 10px 0;
    height: auto;
    background: #fff;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgba(0,0,0,0.2);
}

.user-info h3 {
  margin: 0;
}

.picture-container img {
  display: block;
  max-width: 100%;
  margin-top: 10px;
}

.user-info {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-info img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 8px;
  cursor: pointer;
}

.picture {
  margin: 0 auto;
  max-width: 800px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  width: 400px;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.picture img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.tags span {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ddd;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
